:root {
    --brand-blue: #242430;
    --brand-orange: rgb(255, 122, 100);
    --brand-yellow: rgb(255, 239, 107);
    --light-blue: rgb(63, 169, 245);
    --green: rgb(56, 84, 84);
    --black: #000000;
    --white: #FFFFFF;
    --red: #F44336;
}